[submodule "js/chart.js"]
	path = js/chart.js
	url = https://github.com/nnnick/Chart.js.git
[submodule "_sass/bourbon"]
	path = _sass/bourbon
	url = https://github.com/thoughtbot/bourbon.git
[submodule "_sass/fgrid"]
	path = _sass/fgrid
	url = https://github.com/fullaf/fgrid
