<footer id="footer" class="site-footer">

  <div class="wrapper">

    <div class="footer-links">
      <div class="footer-link footer-email">
        <a href="mailto:{{ site.email }}">
          <i class="footer-link-icon ion-at"></i>
          <span class="footer-link-text">{{ site.email }}</span>
        </a>
      </div>
      <div class="footer-link footer-facebook">
        <a href="https://www.facebook.com/abington10k">
          <i class="footer-link-icon ion-social-facebook"></i>
          <span class="footer-link-text">/abington10k</span>
        </a>
      </div>
      <div class="footer-link footer-twitter">
        <a href="https://www.twitter.com/abington10k">
          <i class="footer-link-icon ion-social-twitter"></i>
          <span class="footer-link-text">@abington10k</span>
        </a>
      </div>
    </div>

    <div class="footer-logos">
      <div class="footer-logo">
        <img src="/images/gaps-logo.png" alt="Great Abington Primary School" />
      </div>
      <div class="footer-logo">
        <img src="/images/ptfa-logo.png" alt="Great Abington PTFA" />
      </div>
      <div class="footer-logo">
        <img src="/images/runbritain-logo-small.png" alt="Run Britain Licenced" />
        <p>Under UKA rules - License applied for</p>
      </div>
    </div>

    <div class="footer-credits">
      Web Design by <a href="http://wjdp.uk">Will Pimblett</a>, source available on <a href="http://github.com/wjdp/abington10k">GitHub</a>.
    </div>

  </div>

</footer>
