.site-footer
  background: $color-brand-alt
  padding: $baseline*2 0 $baseline*4 0

.footer-links
  text-align: center

.footer-link
  @include all-but-last(margin-right, $baseline)
  font-family: $special-font-stack
  font-size: $base-font-size * 1.2
  margin-bottom: $baseline
  line-height: $base-font-size * 2
  display: inline-block
  background: $color-grey
  color: $color-text-white

  a
    color: $color-text-white
    display: block
    padding: $baseline/2 $baseline

  .footer-link-icon
    font-size: $base-font-size * 1.8
    padding-right: 16px

  .footer-link-text
    vertical-align: text-bottom

.footer-email
  background: #F13535

.footer-twitter
  background: #55acee

.footer-facebook
  background: #4d69a2