.sponsor-list
  @include unformatted-list
  @include grid-row
  .sponsor-single
    @include grid-x-percent(33.3333333333%)

    @include respond-down(mob-land)
      width: 50%
      float: left
      &:nth-child(2n+1)
        clear: left

    @include respond-up(tab-port)
      &:nth-child(3n+1)
        clear: left

    .inner
      // background: #C4F6A8
      padding: $baseline
      margin-bottom: $baseline / 2
      text-align: center



    img
      max-height: 100px
      max-width: 100%

    p
      margin-top: $baseline
      background: $color-grey-light
      // color: #fff
      padding: $baseline
